<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8OAAveXHTya-g8mtGQBzx_KnB7TyhjJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>316110867694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kefeh.socialShuffle</string>
	<key>PROJECT_ID</key>
	<string>social-shuffle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>social-shuffle-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316110867694:ios:48d2472811af46c85af7ff</string>
</dict>
</plist>